@model siparis.Models.IndexDataViewModel
@{
    foreach (var stok in Model.stokgroup)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="/Category/getCategoryProduct?Id=@stok.STOK_GROUP_CODE">
                        <span class="badge pull-right">(@Model.stokcard.Where(x => x.CATEGORY_CODE == stok.STOK_GROUP_CODE).Count())</span>
                        @stok.NAME_TR
                    </a>
                </h4>
            </div>
        </div>

    }
}

<div class="brands_products">
    <!--brands_products-->
    <h2 style="margin-top:20px;">Brands</h2>
    @{
        foreach (var stok in Model.stokbrand)
        {
            <div class="brands-name" style="padding-bottom:0px; padding-top:0px;">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span class="pull-right">(@Model.stokcard.Where(x => x.BRAND_CODE == stok.BRAND_CODE).Count())</span>
                            @stok.NAME_TR
                        </a>
                    </li>
                </ul>
            </div>
        }}
</div><!--/brands_products-->


<div class="brands_products">
    <!--brands_products-->
    <h2 style="margin-top:20px;">Size</h2>
    @{
        foreach (var stok in Model.stokBody)
        {
            <div class="brands-name" style="padding-bottom:0px; padding-top:0px;">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span class="pull-right">(@Model.stokcard.Where(x => x.BODY_CODE == stok.BODY_CODE).Count())</span>
                            @stok.NAME_TR
                        </a>
                    </li>
                </ul>
            </div>
        }}
</div><!--/brands_products-->

<div class="brands_products">
    <!--brands_products-->
    <h2 style="margin-top:20px;">Color</h2>
    @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "checkBoxListColor";
            settings.Properties.ValueField = "COLOR_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;            
            settings.ControlStyle.Border.BorderWidth = 0;            
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    item.Selected = true;
                    item.Text += " (" + @Model.stokcard.Where(x => x.COLOR_CODE ==(int)item.Value).Count() + ")";
                }
            };
            
        }).BindList(Model.stokcolor).GetHtml()
    )
    @*@{
        foreach (var stok in Model.stokcolor)
        {
            <div class="brands-name" style="padding-bottom:0px; padding-top:0px;">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span class="pull-right">(@Model.stokcard.Where(x => x.COLOR_CODE == stok.COLOR_CODE).Count())</span>
                            @stok.NAME_TR
                        </a>
                    </li>
                </ul>
            </div>
        }}*@
</div><!--/brands_products-->

@*<div class="brands_products">
    <!--brands_products-->
    <h2 style="margin-top:20px;">SEASON</h2>
    @{
        foreach (var stok in Model.stokseason)
        {
            <div class="brands-name" style="padding-bottom:0px; padding-top:0px;">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">
                            <span class="pull-right">(@Model.stokcard.Where(x => x.SEASON_CODE == stok.SEASON_CODE).Count())</span>
                            @stok.NAME_TR
                        </a>
                    </li>
                </ul>
            </div>
        }}
</div><!--/brands_products-->*@


<div class="brands_products">   
    <h2 style="margin-top:20px;">SEASON</h2>
   
        @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "checkBoxList1";
            settings.Properties.ValueField = "COLOR_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth=0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    item.Selected =true;
                }
            };
        }).BindList(Model.stokcolor).GetHtml()
        )
   
</div>
