<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Modam</title>  
    @Styles.Render("~/bundels/css")
    @Scripts.Render("~/bundels/scripts")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
 
    @Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
    new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
    new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker }
)
    @Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Chart },
    new Script { ExtensionSuite = ExtensionSuite.Report },
    new Script { ExtensionSuite = ExtensionSuite.Scheduler },
    new Script { ExtensionSuite = ExtensionSuite.TreeList },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
    new Script { ExtensionSuite = ExtensionSuite.SpellChecker }
)

</head>
<body>
    @*@Html.Partial("_HeaderPartial");*@
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-phone"></i> +90 216 651 21 20</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> info@modam.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li> <a  href="https://www.facebook.com/pages/modamcom/180760585455778"  target="_blank"><img src="http://onfiltre.com.tr/wp-content/uploads/2015/02/turk-bayragi.png" /></a></li>
                                <li><a href="https://www.facebook.com/pages/modamcom/180760585455778" target="_blank"><img src="http://onfiltre.com.tr/wp-content/uploads/2015/02/ingiltere-bayragi.png" /></a></li>
                                <li><a href="https://www.facebook.com/pages/modamcom/180760585455778" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/modamcom" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.pinterest.com/modamcom/"><i class="fa fa-pinterest"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="@Url.Action("index","Home")">@*<img src="~/Content/images/home/logo.png" />*@
                          <span style="font-family:Bahamas;color:#000000;font-size:40px;">modam</span>  
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="../OrderFollow/Opportunity"><i class="fa fa-crosshairs"></i> Checkout</a></li>
                                <li><a href="@Url.Action("Chart","Order")"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> Login </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->



        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="@Url.Action("Index","Home")" class="active">Home</a></li>
                                <li class="dropdown">
                                    <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="../Home/index">Products</a></li>
                                        <li><a href="../OrderFollow/Opportunity">Checkout</a></li>
                                        <li><a href="../Order/Chart">Cart</a></li>
                                        <li><a href="../Account/Login">Login</a></li>
                                    </ul>
                                </li>

                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="search_box pull-right">
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->
    @RenderBody()
    <hr />
    <!--Footer-->
    <footer id="footer">

        <div class="footer-widget">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3"></div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <center>
                                <h2>Service</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Online Help</a></li>
                                    <li><a href="../Home/Contact">Contact Us</a></li>
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Change Location</a></li>
                            </center>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <center>
                                <h2>Quick Shop</h2>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Pestemal</a></li>
                                    <li><a href="#">Peskir</a></li>
                                    <li><a href="#">Scarf</a></li>
                                    <li><a href="#">BathRobe</a></li>
                            </center>
                            </ul>
                        </div>
                    </div>
                    @*<div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Policies</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privecy Policy</a></li>
                                <li><a href="#">Refund Policy</a></li>
                                <li><a href="#">Billing System</a></li>
                                <li><a href="#">Ticket System</a></li>
                            </ul>
                        </div>
                    </div>*@
                    @*<div class="col-sm-2">
                        <div class="single-widget">
                            <h2>About Shopper</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Company Information</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">Affillate Program</a></li>
                                <li><a href="#">Copyright</a></li>
                            </ul>
                        </div>
                    </div>*@
                    <div class="col-sm-2 ">
                        <div class="single-widget">
                            <h2> Follow Us</h2>
                            <ul>
                                <li><a href="https://www.facebook.com/pages/modamcom/180760585455778" target="_blank"><i class="fa fa-facebook social-network-icon"style="margin-top:0px;"></i></a></li>
                                <li><a href="https://twitter.com/modamcom" target="_blank"><i class=" fa fa-twitter social-network-icon"></i> </a></li>
                                <li><a href="https://www.pinterest.com/modamcom" target="_blank"><i class="fa fa-pinterest social-network-icon"></i></a></li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">© 2015 Modam.com All rights reserved.</p>
                    @*<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>*@
                </div>
            </div>
        </div>

    </footer><!--/Footer-->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
