@using siparis.Models
<div class="leftPanel">
    @*@Styles.Render("~/bundels/orangeMenuStyle")
    @Scripts.Render("~/bundles/orangeMenuJequery")*@
    <link href="~/Content/css/verticalMenu.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <div class="container">
        <div class="sidebar">
            <div class="navContiner">
                <ul id="nav">
                    <li><a href="@Url.Action("Opportunity", "OrderFollow")">@siparis.Resorces.Language.Opportunity</a></li>
                    <li><a href="@Url.Action("Sample","OrderFollow")">@siparis.Resorces.Language.Sample</a></li>
                    <li><a href="@Url.Action("Offer","OrderFollow")">@siparis.Resorces.Language.Offer</a></li>
                    <li><a href="@Url.Action("Draft","OrderFollow")">@siparis.Resorces.Language.Draft</a></li>
                    <li><a href="@Url.Action("Order","OrderFollow")">@siparis.Resorces.Language.Order</a></li>
                    <li><a href="@Url.Action("InReview", "OrderFollow")">@siparis.Resorces.Language.InReview</a></li>
                    <li><a href="@Url.Action("Pending", "OrderFollow")">@siparis.Resorces.Language.Pending</a></li>
                    <li><a href="@Url.Action("Approved", "OrderFollow")">@siparis.Resorces.Language.Approved</a></li>
                    <li><a href="@Url.Action("Edited", "OrderFollow")">@siparis.Resorces.Language.Edited</a></li>
                    <li><a href="@Url.Action("Processed", "OrderFollow")">@siparis.Resorces.Language.Processed</a></li>
                    <li><a href="@Url.Action("ShippingConfirm", "OrderFollow")">@siparis.Resorces.Language.ShippingConfirm</a></li>
                    <li><a href="@Url.Action("Shipping", "OrderFollow")">@siparis.Resorces.Language.Shipping</a></li>
                    <li><a href="@Url.Action("Shipped", "OrderFollow")">@siparis.Resorces.Language.Shipped</a></li>
                    <li><a href="@Url.Action("Cancelled", "OrderFollow")">@siparis.Resorces.Language.Cancelled</a></li>
                    <li><a href="@Url.Action("DispatchNote", "OrderFollow")">@siparis.Resorces.Language.DispachNote</a></li>
                    <li><a href="@Url.Action("Invoice", "OrderFollow")">@siparis.Resorces.Language.Invoice</a></li>
                    <li><a href="@Url.Action("Linesheets", "OrderFollow")">@siparis.Resorces.Language.Linesheets</a></li>
               
                </ul>
                
            </div>
            <div class="flyoutBg"></div>
        </div>
     
    </div>

    @Scripts.Render("~/bundles/orangeMenuScript")
  
    <script src="~/Scripts/customScript.js"></script>

</div>