<ul>
    <li>@Html.ActionLink("Opportunity   ", "Opportunity", "OrderFollow")</li>
    <li>@Html.ActionLink("Sample  ", "Sample", "OrderFollow")</li>
    <li>@Html.ActionLink("Offer  ", "Offer", "OrderFollow")</li>
    <li>@Html.ActionLink("Draft  ", "Draft", "OrderFollow")</li>
    <li>@Html.ActionLink("Order  ", "Order", "OrderFollow")</li>
    <li>@Html.ActionLink("InReview  ", "InReview", "OrderFollow")</li>
    <li>@Html.ActionLink("Pending  ", "Pending", "OrderFollow")</li>
    <li>@Html.ActionLink("Approved  ", "Approved", "OrderFollow")</li>
    <li>@Html.ActionLink("Edited  ", "Edited", "OrderFollow")</li>
    <li>@Html.ActionLink("Processed  ", "Processed", "OrderFollow")</li>
    <li>@Html.ActionLink("Shipped  ", "Shipped", "OrderFollow")</li>
    <li>@Html.ActionLink("Cancelled  ", "Cancelled", "OrderFollow")</li>
    <li>@Html.ActionLink("Dispatch Note  ", "DispatchNote", "OrderFollow")</li>
    <li>@Html.ActionLink("Invoice  ", "Invoice", "OrderFollow")</li>
    <li>@Html.ActionLink("Linesheets  ", "Linesheets", "OrderFollow")</li>
</ul>