@using siparis.Models
@using siparis.Controllers
@{
    siparis.Controllers.Filter flt = new siparis.Controllers.Filter(BaseController.dbName);
    IndexDataViewModel menuItem = flt.getFilterItem();
}
<link href="~/Content/css/MegaDrop.css" rel="stylesheet" />
<!-- Preview Styles -->
<div>
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="menu-wrapper">
                    <ul class="navi">
                        <li>
                            <a href="#">@siparis.Resorces.Language.Products</a>
                            <div>
                                @{foreach (var item in menuItem.stokMainGroup)
                                {
                                    <div class="navi-column">
                                        <h3>@item.EXP_TR</h3>
                                        <ul>
                                            @foreach (var childitem in menuItem.stokSubGroup)
                                            {
                                                if (item.CODE == childitem.MAIN_GROUP_CODE)
                                                {
                                                    <li><a href="@Url.Action("FilterProduct", "Home", new { main = @item.ID, sub = @childitem.ID })">@childitem.EXP_TR</a></li>
                                                }
                                            }
                                        </ul>
                                    </div>

                                }
                                }
                            </div>
                        </li>
                        <li><a href="#">@siparis.Resorces.Language.Contact</a></li>
                        <li class="navi-search">
                            <form action="#">
                                <input type="text" placeholder=@siparis.Resorces.Language.Search class="searchText">
                                <input type="submit" value="">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
