@using siparis.Models



@{
    ProfileInfo profilim = (ProfileInfo)Session["profilim"];
}

    


<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="../Home/Contact"><i class="fa fa-phone"></i> @profilim.Telefon </a></li>
                            <li><a href="../Home/Contact"><i class="fa fa-envelope"></i> @profilim.Mail</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">                     
                            <li><a href="https://www.facebook.com/pages/modamcom/180760585455778" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/modamcom" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/modamcom/"><i class="fa fa-pinterest"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="@Url.Action("index","Home")">
                            @*<img src="~/Content/images/home/logo.png" />*@
                            <span style="font-family:Bahamas;color:#000000;font-size:40px;">@profilim.FirmaAdi </span>
                        </a>
                    </div>



                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="../OrderFollow/Index"><i class="fa fa-crosshairs"></i>@siparis.Resorces.Language.Checkout</a></li>
                            <li><a href="@Url.Action("Chart","Order")"><i class="fa fa-shopping-cart"></i> @siparis.Resorces.Language.Cart</a></li>
                            <li>
                                <!-- Small button group -->
                                <div class="btn-group-vertical">
                                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                        <b style="color: #696763; font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 700;"><i class="fa fa-user"></i> @profilim.Adi  @profilim.Soyadi</b><span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        
                                       
                                        @{
                                            if (User.IsInRole("Admin"))
                                            {
                                                 <li class="altMenu"><a href="@Url.Action("Register","Account")"><i class="fa fa-user"></i> @siparis.Resorces.Language.AddNewUser</a></li>
                                            }
                                        }
                                        <li class="altMenu"><a href="@Url.Action("LogOff", "Account")"><i class="fa fa-power-off"></i> @siparis.Resorces.Language.LogOut </a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div><!--/header-middle-->




</header><!--/header-->