@using siparis.Models
<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +90 216 651 21 20</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@modam.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li> <a href=""><img src="http://onfiltre.com.tr/wp-content/uploads/2015/02/turk-bayragi.png" /></a></li>
                            <li><a href="" ><img src="http://onfiltre.com.tr/wp-content/uploads/2015/02/ingiltere-bayragi.png" /></a></li>
                            <li><a href="https://www.facebook.com/pages/modamcom/180760585455778" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/modamcom" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/modamcom/"><i class="fa fa-pinterest"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="@Url.Action("index","Home")">
                            @*<img src="~/Content/images/home/logo.png" />*@
                        <span style="font-family:Bahamas;color:#000000;font-size:40px;">modam</span>
                    </a>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="shop-menu pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="../OrderFollow/Opportunity"><i class="fa fa-crosshairs"></i> @Res.resGetir(21)</a></li>
                        <li><a href="@Url.Action("Chart","Order")"><i class="fa fa-shopping-cart"></i> @Res.resGetir(22)</a></li>
                        <li><a href="@Url.Action("Login", "Account")"><i class="fa fa-lock"></i> @Res.resGetir(23) </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-middle-->




</header><!--/header-->