@model IEnumerable<siparis.Models.STOKCARDViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    var listItems = new List<SelectListItem>
    {
          new SelectListItem { Text = "Exemplo1", Value="Exemplo1" },
          new SelectListItem { Text = "Exemplo2", Value="Exemplo2" },
          new SelectListItem { Text = "Exemplo3", Value="Exemplo3" }
    };
}

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<div class="col-md-12">
    <form class="form-horizontal" style="margin-top:20px;padding-left:0">



        <div class="col-md-4">
            <!-- Appended Input-->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lbl;CompanyName";
        settings.Text = @siparis.Resorces.Language.Company;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().TextBox(settings =>
{
    settings.Name = "CompanyNameTxt";
}).GetHtml()


                </div>
            </div>

            <!-- Firma Adı -->
            <div class="form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-8">
                   @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblCompanyName";
        settings.Text = "ABC FİRMASI  120.001.001";
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()

                   
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryAddress";
        settings.Text = @siparis.Resorces.Language.DeliveryAddress;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpDeliveryAddress";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()


                </div>
            </div>


            <!-- Select Basic -->
            <div class="form-group">
                
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblWareHouseName";
        settings.Text = @siparis.Resorces.Language.WareHouseName;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpWareHouseName";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryType";
        settings.Text = @siparis.Resorces.Language.DeliveryType;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpDeliveryType";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">           
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryDate";
        settings.Text = @siparis.Resorces.Language.DeliveryDate;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
         
                    @Html.DevExpress().DateEdit(settings =>
{
    settings.Name = "drpDeliveryDate";
}).GetHtml()


                </div>
            </div>


        </div>

        <div class="col-md-4">

            <!-- Textarea -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDescription";
        settings.Text = @siparis.Resorces.Language.DescriptionText;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().Memo(
    settings =>
    {
        settings.Name = "txtDescription";

      

        settings.Properties.Columns = 27;
        settings.Properties.Rows = 4;
    }).GetHtml()
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblMainGroup";
        settings.Text = @siparis.Resorces.Language.MainGroup;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpMainGroup";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblSubGroup";
        settings.Text = @siparis.Resorces.Language.SubGroup;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpSubGroup";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Appended Input-->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblStock";
        settings.Text = @siparis.Resorces.Language.Stock;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                  
                    @Html.DevExpress().TextBox(settings =>
{
    settings.Name = "txtStock";
}).GetHtml()

                </div>
            </div>
        </div>

    </form>

    @* grid *@
    <div class="row">
        <div class="col-md-8">
            @Html.DevExpress().GridView(settings =>
        {
            settings.Name = "gvOverview";
            //settings.KeyFieldName = "WAREHOUSE_ID;OPPORTUNITY_CODE;ROW_ORDER_NO;STOK_CODE";
            settings.CallbackRouteValues = new
            {
                Controller = "Delegate",
                Action = "saveWareHouse"

            };
            settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Delegate", Action = "updateWareHouse" };
            //settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
            settings.KeyFieldName = "ID";
            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowEditButton = true;
            settings.CommandColumn.ShowNewButton = true;
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.Columns.Add(column =>
            {
                column.FieldName = "ID";
                column.Caption = "STOK KODU";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "NAME_TR";
                column.Caption = "STOK ADI";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "UNIT_PRICE";
                column.Caption = "STOK FİYAT";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "CUR_TYPE";
                column.Caption = "PARA BİRİMİ";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "UNIT";
                column.Caption = "MİKTAR";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "DES_TR";
                column.Caption = "AÇIKLAMA";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "CODE";
                column.Caption = "TESLİM TARİHİ";
                column.ReadOnly = true;

            });

        }).Bind(Model).GetHtml()

        </div>

    </div>
</div>









