@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    var listItems = new List<SelectListItem>
    {
          new SelectListItem { Text = "Exemplo1", Value="Exemplo1" },
          new SelectListItem { Text = "Exemplo2", Value="Exemplo2" },
          new SelectListItem { Text = "Exemplo3", Value="Exemplo3" }
    };
}
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<div class="col-md-8" style="margin-left:50px;margin-top:15px;">
    @* Company ara kutusu *@
    <div class="row">
        <div class="col-md-8">
            <input type="text" name="companyName" class="form-control" required="required" placeholder="FİRMA ADI" />
        </div>
        <div class="col-md-4">
            <a href="#" class="btn btn-default add-to-cart"><i class="icon-search"></i>@siparis.Resorces.Language.Choose</a>
        </div>
    </div>

    @* Arana firma adı yazdırılan label *@
    <div class="row">
        <div class="col-md-6">
            <h3><b> ABC FİRMASI  120.001.001</b></h3>
        </div>
    </div>

    @* Sevk Adresi *@
    <div class="row">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.DeliveryAddress)
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("DeliveryAddressDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Depo Adresi *@
    <div class="row">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.WareHouseName)
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("WareHouseNameDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Teslim Şekli *@
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label(@siparis.Resorces.Language.DeliveryType)
        </div>
        <div class="form-group col-md-2">
            @Html.DropDownList("DeliveryTypeDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Teslim Tarihi *@
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label(@siparis.Resorces.Language.DeliveryDate)
        </div>
        <div class="form-group col-md-2">
            @Html.DropDownList("DeliveryDateDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Ana grup *@
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label(@siparis.Resorces.Language.MainGroup)
        </div>
        <div class="form-group col-md-2">
            @Html.DropDownList("MainGroupDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Alt grup *@
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Label(@siparis.Resorces.Language.SubGroup)
        </div>
        <div class="form-group col-md-2">
            @Html.DropDownList("SubGroupDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

  

    @* grid *@
    <div class="row">
        <div class="col-md-12" style="margin-right:15px;">
            @Html.DevExpress().GridView(settings =>
        {
            settings.Name = "gvOverview";
            //  settings.KeyFieldName = "WAREHOUSE_ID;OPPORTUNITY_CODE;ROW_ORDER_NO;STOK_CODE";
            //settings.CallbackRouteValues = new
            //{
            //    Controller = "WareHouse",
            //    Action = "saveWareHouse",
            //    ID = TempData["parametre"]
            //};
            //settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "WareHouse", Action = "updateWareHouse" };
            //settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowEditButton = true;
            settings.CommandColumn.ShowNewButton = true;
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(80);
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "STOK KODU";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "STOK ADI";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "STOK FİYAT";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "PARA BİRİMİ";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "MİKTAR";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "AÇIKLAMA";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                //column.FieldName = "WAREHOUSE_NAME";
                column.Caption = "TESLİM TARİHİ";
                column.ReadOnly = true;

            });

        }).GetHtml()

        </div>

    </div>
</div>


@*<div class="row" style="margin-left:20px;margin-right:50px;">
    <div class="form-group col-md-8">
        <input type="text" name="name" class="form-control" required="required" placeholder="Açıklama" />
    </div>
    
</div>*@









