@model IEnumerable<siparis.Models.STOKCARDViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    var listItems = new List<SelectListItem>
    {
          new SelectListItem { Text = "Exemplo1", Value="Exemplo1" },
          new SelectListItem { Text = "Exemplo2", Value="Exemplo2" },
          new SelectListItem { Text = "Exemplo3", Value="Exemplo3" }
    };
}

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<div class="col-md-8" style="margin-left:50px;margin-top:15px;">
    @* Company ara kutusu *@
    <div class="row" style="text-align:right">
        <div class="input-group col-md-4">
        </div>
        <div class="input-group col-md-6">
            <input type="text" class="form-control" name="companyName" required="required" placeholder="Firma Adı" />
            <span class="input-group-addon">
                <a href="#"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>

    @* Arana firma adı yazdırılan label *@
    <div class="row">
        <div class="col-md-6">
            <h3><b> ABC FİRMASI  120.001.001</b></h3>
        </div>
    </div>
    <br />
    @* Sevk Adresi *@
    <div class="row" style="margin-bottom:20px;">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.DeliveryAddress, new { @class = "dropdown" })
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("DeliveryAddressDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>


    @* Depo Adresi *@
    <div class="row">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.WareHouseName)
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("WareHouseNameDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Teslim Şekli *@
    <div class="row">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.DeliveryType)
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("DeliveryTypeDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Teslim Tarihi *@
    <div class="row" style="margin-bottom:30px;">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.DeliveryDate)
        </div>
        <div class="form-group col-md-4">
            @Html.DropDownList("DeliveryDateDropDown", new SelectList(listItems, "Value", "Text"))
        </div>
    </div>

    @* Açıklama *@
    <div class="row" style="margin-bottom:30px;">
        <div class="form-group col-md-2">
            @Html.Label(@siparis.Resorces.Language.DescriptionText)
        </div>
        <div class="form-group col-md-4">
            @Html.TextArea("DescriptionTextArea", new { @style = "width: 100%; height: 50px;resize:none" })
        </div>
    </div>

    @* Ana grup ve Alt Grup*@
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="form-group col-md-4">
                    @Html.Label(@siparis.Resorces.Language.MainGroup)
                </div>
                <div class="form-group col-md-6">
                    @Html.DropDownList("MainGroupDropDown", new SelectList(listItems, "Value", "Text"))
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    @Html.Label(@siparis.Resorces.Language.SubGroup)
                </div>
                <div class="form-group col-md-6">
                    @Html.DropDownList("SubGroupDropDown", new SelectList(listItems, "Value", "Text"))
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="Stock" required="required" placeholder="Stok" />
                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <br />


    @* grid *@
    <div class="row">
        <div class="col-md-10" >
            @Html.DevExpress().GridView(settings =>
        {
            settings.Name = "gvOverview";
            //settings.KeyFieldName = "WAREHOUSE_ID;OPPORTUNITY_CODE;ROW_ORDER_NO;STOK_CODE";
            settings.CallbackRouteValues = new
            {
                Controller = "Delegate",
                Action = "saveWareHouse"
              
            };
            settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Delegate", Action = "updateWareHouse" };
            //settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
            settings.KeyFieldName = "ID";
            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowEditButton = true;
            settings.CommandColumn.ShowNewButton = true;
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
            settings.Columns.Add(column =>
            {
                column.FieldName = "ID";
                column.Caption = "STOK KODU";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "NAME_TR";
                column.Caption = "STOK ADI";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "UNIT_PRICE";
                column.Caption = "STOK FİYAT";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "CUR_TYPE";
                column.Caption = "PARA BİRİMİ";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "UNIT";
                column.Caption = "MİKTAR";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "DES_TR";
                column.Caption = "AÇIKLAMA";
                column.ReadOnly = true;

            });
            settings.Columns.Add(column =>
            {
                column.FieldName = "CODE";
                column.Caption = "TESLİM TARİHİ";
                column.ReadOnly = true;

            });

        }).Bind(Model).GetHtml()

        </div>

    </div>
</div>








