@model IEnumerable<siparis.Models.STOKCARDViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
    var listItems = new List<SelectListItem>
    {
          new SelectListItem { Text = "Exemplo1", Value="Exemplo1" },
          new SelectListItem { Text = "Exemplo2", Value="Exemplo2" },
          new SelectListItem { Text = "Exemplo3", Value="Exemplo3" }
    };
}

<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />

<div class="col-md-12">
    <form class="form-horizontal" style="margin-top:20px;padding-left:0">



        <div class="col-md-4">
            <!-- Appended Input-->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblCompany";
        settings.Text = @siparis.Resorces.Language.Company;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @*@Html.DevExpress().ButtonEdit(settings =>
              {
                  settings.Name = "btnEditCompany";
                  //settings.Properties.Buttons.Add(siparis.Resorces.Language.Search);
                  settings.Properties.Buttons.Add();
                  settings.Properties.Buttons[0].Image.IconID = IconID.FindFind16x16gray;
              }).GetHtml()*@

                    @Html.Partial("MultiColumnComboBoxPartial")
                </div>
            </div>

            <!-- Firma Adı -->
            <div class="form-group">
                <div class="col-md-3">
                </div>
                @*<div class="col-md-8">
                   @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblCompanyName";
        settings.Text = "ABC FİRMASI  120.001.001";
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()

                   
                </div>*@
            </div>

            <!-- Teslim Adresi -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryAddress";
        settings.Text = @siparis.Resorces.Language.DeliveryAddress;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                    @Html.Partial("deliveryAdress")


                </div>
            </div>


            <!-- Depo Adı -->
            <div class="form-group">
                
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblWareHouseName";
        settings.Text = @siparis.Resorces.Language.WareHouseName;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpWareHouseName";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.TextField = "Value";
                        settings.Properties.ValueField = "Key";
                        settings.Properties.ValueType = typeof(int);
                    }).BindList(ViewData["WareHouse"]).GetHtml()
                </div>
            </div>

            <!-- Teslim Türü -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryType";
        settings.Text = @siparis.Resorces.Language.DeliveryType;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpDeliveryType";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.TextField = "Value";
                        settings.Properties.ValueField = "Key";
                        settings.Properties.ValueType = typeof(int);
                    }).BindList(ViewData["DeliveryType"]).GetHtml()
                </div>
            </div>

            <!-- Teslim Tarihi -->
            <div class="form-group">           
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDeliveryDate";
        settings.Text = @siparis.Resorces.Language.DeliveryDate;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
         
                    @Html.DevExpress().DateEdit(settings =>
{
    settings.Name = "drpDeliveryDate";
}).GetHtml()


                </div>
            </div>


        </div>

        <div class="col-md-4">

            <!-- Açıklama -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblDescription";
        settings.Text = @siparis.Resorces.Language.DescriptionText;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().Memo(
    settings =>
    {
        settings.Name = "txtDescription";

      

        settings.Properties.Columns = 27;
        settings.Properties.Rows = 4;
    }).GetHtml()
                </div>
            </div>

            <!-- Ana Grup -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblMainGroup";
        settings.Text = @siparis.Resorces.Language.MainGroup;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpMainGroup";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Alt Grup -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblSubGroup";
        settings.Text = @siparis.Resorces.Language.SubGroup;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                   
                    @Html.DevExpress().ComboBox(settings =>
                    {
                        settings.Name = "drpSubGroup";
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                        settings.Properties.Items.Add("Item 0");
                        settings.Properties.Items.Add("Item 1");
                        settings.Properties.Items.Add("Item 2");
                    }).GetHtml()
                </div>
            </div>

            <!-- Stok -->
            <div class="form-group">
                <div class="col-md-3">
                    @Html.DevExpress().Label(
    settings =>
    {
        settings.Name = "lblStock";
        settings.Text = @siparis.Resorces.Language.Stock;
        settings.Properties.EnableClientSideAPI = true;
    }).GetHtml()
                </div>
                <div class="col-md-8">
                  
                    @Html.DevExpress().ButtonEdit(settings =>
              {
                  settings.Name = "btnEditStock";
                  //settings.Properties.Buttons.Add(siparis.Resorces.Language.Search);
                  settings.Properties.Buttons.Add();
                  settings.Properties.Buttons[0].Image.IconID = IconID.FindFind16x16gray;   
                 
              }).GetHtml()

                </div>
            </div>
        </div>

    </form>

    @* Grid *@
    <div class="row">
        <div class="col-md-8">
        @Html.Partial("gridView", Model)

        </div>

    </div>
</div>









