@using siparis.Models
@model siparis.Models.STOKCARD

@{
    ViewBag.Title = @siparis.Resorces.Language.ProductDetails;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/jquery.toastmessage.css" rel="stylesheet" />
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<script src="~/Scripts/ajaxGonderi/DropDownChangeEvent.js"></script>
<script src="~/Scripts/AngularFilter/checkBoxFilter.js"></script>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-10">
                <div class="product-details" style="overflow:visible">

                    <div class="col-sm-5 border-ayar product-information">
                        <div class="view-product">
                            @if (@Model.STOKCARDPICTUREs.Count != 0)
                            {
                                <img src="@Model.STOKCARDPICTUREs.ElementAt(0).PATH" alt="" class="slider-image-main" />
                            }
                            else
                            {
                                <img src="../Content/images/404/No_Image_Available.png" alt="" class="slider-image-main" />
                            }
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                @if (@Model.STOKCARDPICTUREs.Count > 1)
                                {
                                    <div class="item active">
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt="" class="slider-image-mini"></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt="" class="slider-image-mini"></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt="" class="slider-image-mini"></a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt="" class="slider-image-mini"></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt="" class="slider-image-mini"></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt="" class="slider-image-mini"></a>
                                    </div>
                                }

                            </div>
                            <a class="left item-control" href="#similar-product" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right item-control" href="#similar-product" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>

                    <div class="col-sm-6 border-ayar">
                        <div class="product-information padding-zero">
                            @Html.Label(@Model.NAME_TR, new { id = "NAME_TR", @class = "product-info-title buyukharf" })<br />
                            @Html.TextBoxFor(model => model.CODE, new { @class = "product-info-sub-title buyukharf" })
                            @Html.TextBoxFor(model => model.UNIT_PRICE, new { @class = "product-info-price" })
                            @Html.TextAreaFor(model => model.DES_TR, new { @class = "product-info-desc", onclick = "textAreaAdjust(this)", disabled = "disabled" })

                            @Html.HiddenFor(model => model.UPPER_CODE)
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.CUR_TYPE)

                            <div>
                                <div>
                                    <div class="alt" style="display:none">
                                        <div class="col-sm-6">
                                            <p><b>Start Date</b></p>
                                        </div>
                                        <div class="col-sm-6 border-ayar">

                                            @Html.DevExpress().DateEdit(
                settings =>
                {

                    settings.Name = "dateEdit1";
                    //settings.Properties.NullText = "DD/MM/YYYY";
                    settings.Properties.EditFormat = EditFormat.Custom;
                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                    //settings.RightToLeft = DefaultBoolean.True;
                    settings.Date = new DateTime();
                    settings.Properties.CalendarProperties.ShowClearButton = false;
                    settings.Properties.CalendarProperties.ShowTodayButton = false;
                    settings.Properties.CalendarProperties.ShowDayHeaders = true;
                    settings.Properties.CalendarProperties.ShowHeader = true;
                    settings.Properties.CalendarProperties.ShowWeekNumbers = true;
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                }
            ).GetHtml()
                                        </div>
                                    </div>
                                    <div class="alt" style="display:none">
                                        <div class="col-sm-6">
                                            <p><b>End Date</b></p>
                                        </div>
                                        <div class="col-sm-6 border-ayar">
                                            @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "dateEdit2";
                    //settings.Properties.NullText = "DD/MM/YYYY";
                    settings.Properties.EditFormat = EditFormat.Custom;
                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                    //settings.RightToLeft = DefaultBoolean.True;
                    settings.Date = new DateTime();
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    settings.Properties.CalendarProperties.ShowClearButton = false;
                    settings.Properties.CalendarProperties.ShowTodayButton = false;
                    settings.Properties.CalendarProperties.ShowDayHeaders = true;
                    settings.Properties.CalendarProperties.ShowHeader = true;
                    settings.Properties.CalendarProperties.ShowWeekNumbers = true;

                }
            ).GetHtml()

                                        </div>
                                    </div>

                                </div>
                                <div class="alt">
                                    <div class="col-sm-6"><p><b>@siparis.Resorces.Language.Quantity</b></p></div>
                                    <div class="col-sm-6 border-ayar shopper-info"><input id="QUANTITY" type="text" value="1" /></div>
                                </div>

                                <div class="alt">
                                    <div class="col-sm-6"><p><b>@siparis.Resorces.Language.Stock</b></p></div>
                                    <div class="col-md-6 border-ayar shopper-info-passive"><input id="STOK" value="@Model.UNIT" disabled /></div>
                                </div>

                                <div class="alt">
                                    <div class="col-sm-6"><p><b>@Html.LabelFor(model => model.COLOR_CODE, @siparis.Resorces.Language.Color)</b></p></div>
                                    <div class="col-md-6 border-ayar">

                                        @Html.DropDownList("COLOR_CODE", new SelectList((System.Collections.IEnumerable)ViewData["Color"], "Key", "Text"))
                                        @Html.ValidationMessageFor(model => model.COLOR_CODE)
                                    </div>
                                </div>
                            </div>

                            <div class="alt">
                                <div class="col-sm-6"><p><b>@Html.LabelFor(model => model.BODY_CODE, @siparis.Resorces.Language.Size)</b></p></div>
                                <div class="col-md-6">
                                    @Html.DropDownList("BODY_CODE", new[] { new SelectListItem { Text = "", Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.BODY_CODE)
                                </div>

                            </div>
                            <div class="alt">
                                <div class="col-sm-6"><a href="../Home/index" class="btn btn-default blank-arrow"><i class="fa fa-backward"></i> @siparis.Resorces.Language.Back</a></div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-default cart" onclick="sepeteEkleMiktarli($('#ID').val(),$('#miktar').val())" style="margin-left:-30px;">
                                        <i class="fa fa-shopping-cart"></i>
                                        @siparis.Resorces.Language.AddtoCart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
