@using siparis.Models
@model siparis.Models.STOKCARD
@{
    ViewBag.Title = @Res.resGetir(26);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                           <img src="@Model.STOKCARDPICTUREs.ElementAt(0).PATH" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                               <div class="item active">
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH " alt=" "></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>


                                   <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                   <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>


                                    </div>


                                    <div class="item">
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                    </div>
                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            @*<img src="../content/images/product-details/new.jpg" class="newarrival" alt="" />*@
                            @*<h2>Anne Klein Sleeveless Colorblock Scuba</h2>*@
                            <h2>@Model.NAME_TR</h2>

                            <p>Web ID: 1089772</p>
                            <img src="../content/images/product-details/rating.png" alt="" />
                            <span>
                                <span>@Model.CUR_TYPE @Model.UNIT_PRICE</span>
                                <label>@Res.resGetir(72)</label>
                                <input id="miktar" type="text" value="1" />
                                <button type="button" class="btn btn-fefault cart" onclick="sepeteEkleMiktarli(@Model.ID,$('#miktar').val())">
                                    <i class="fa fa-shopping-cart"></i>
                                    @Res.resGetir(2)
                                </button>                           

                            </span>
                            <p><b>@Res.resGetir(91)</b> @Model.UNIT</p>
                            <p><b>@Res.resGetir(92)</b> @Res.resGetir(93)</p>
                            <p><b>@Res.resGetir(13)</b> @Res.resGetir(94)</p>
                            <div>
                                <span  id="basic-addon1" style="width: 90px; background-color: #fe980f;color:white; vertical-align:central; text-align: center;">Start Date </span>
                                <span  id="basic-addon1" style="width: 90px; text-align: center; border-style: solid; border-width: 1px; border-color: #fe980f; ">10.03.2015 </span>
                                <span id="basic-addon1" style="width: 90px; background-color: #fe980f;color:white;vertical-align:central; text-align: center;">End Date </span>
                                <span id="basic-addon1" style="width: 90px; text-align: center; border-style: solid; border-width: 1px; border-color: #fe980f;">15.03.2015 </span>
                             </div>
                        <div>

                            

                        </div>
                          
                           
                      
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->
            </div>
        </div>
    </div>
</section>


