@using siparis.Models
@model siparis.Models.STOKCARD

@{
    ViewBag.Title = @Res.resGetir(26);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-9">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-7">
                        <div class="view-product">
                            <img src="@Model.STOKCARDPICTUREs.ElementAt(0).PATH" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <center>
                                <div class="carousel-inner">

                                    <div class="item active">

                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>
                                        @*<a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(1).PATH" alt=""></a>*@



                                    </div>


                                    <div class="item">

                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        <a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>
                                        @*<a href=""><img src="@Model.STOKCARDPICTUREs.ElementAt(2).PATH" alt=""></a>*@

                                    </div>
                                </div>
                            </center>
                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <center>
                        <div class="col-sm-5">
                            <div class="product-information" style="padding:0">
                                <!--/product-information-->
                                @*<img src="../content/images/product-details/new.jpg" class="newarrival" alt="" />*@
                                @*<h2>Anne Klein Sleeveless Colorblock Scuba</h2>*@
                                <span><span class="buyukharf">@Model.NAME_TR</span></span>

                                <p>Web ID: 1089772</p>
                                <center>
                                    <img src="../content/images/product-details/rating.png" alt=""/>
                                </center>
                                <span>
                                    <span> @Model.UNIT_PRICE @Model.CUR_TYPE </span>
                                </span>
                                <p><b>@Res.resGetir(91)</b> @Model.UNIT</p>
                                <p><b>@Res.resGetir(92)</b> @Res.resGetir(93)</p>
                                <p><b>@Res.resGetir(13)</b> @Res.resGetir(94)</p>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.BODY_CODE, @Res.resGetir(104), new { @class = "control-label col-md-3 labelrenk labelmargin " })
                                    <div class="col-md-9 border-ayar comboboxhizala ">
                                        
                                        @Html.DropDownList("BODY_CODE", new SelectList((System.Collections.IEnumerable)ViewData["Body"], "Key", "Text"))
                                        @Html.ValidationMessageFor(model => model.BODY_CODE)
                                    </div>

                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.COLOR_CODE, @Res.resGetir(105), new { @class = "control-label col-md-3 labelrenk labelmargin " })
                                    <div class="col-md-9 border-ayar comboboxhizala">


                                        @Html.DropDownList("COLOR_CODE", new SelectList((System.Collections.IEnumerable)ViewData["Color"], "Key", "Text"))
                                        @Html.ValidationMessageFor(model => model.COLOR_CODE)
                                    </div>
                                </div>

                            </div><!--/product-information-->
                        </div>
                    </center>
                </div><!--/product-details-->
            </div>
            <div class="col-sm-3">
                <div class="product-information" style="padding:0; margin-top:9px;">
                    <div class="alt">
                        <div class="col-sm-6">
                            <p><b>Start Date</b></p>
                        </div>
                        <div class="col-sm-6">

                            @Html.DevExpress().DateEdit(
                settings =>
                {

                    settings.Name = "dateEdit1";
                    settings.Properties.NullText = "dd/MM/yyyy";
                    settings.Properties.EditFormat = EditFormat.Custom;
                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                    settings.RightToLeft = DefaultBoolean.True;
                    settings.Properties.CalendarProperties.ShowClearButton = false;
                    settings.Properties.CalendarProperties.ShowTodayButton = false;
                    settings.Properties.CalendarProperties.ShowDayHeaders = false;
                    settings.Properties.CalendarProperties.ShowHeader = false;
                    settings.Properties.CalendarProperties.ShowWeekNumbers = false;
                    
                    settings.Date = new DateTime();
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

                }
            ).GetHtml()
                        </div>

                    </div>

                    <div class="alt">
                        <div class="col-sm-6">
                            <p><b>End Date</b></p>
                        </div>
                        <div class="col-sm-6">
                            @Html.DevExpress().DateEdit(
                settings =>
                {
                    settings.Name = "dateEdit2";
                    settings.Properties.NullText = "dd/MM/yyyy";
                    settings.Properties.EditFormat = EditFormat.Custom;
                    settings.Properties.EditFormatString = "dd/MM/yyyy";
                    settings.Date = new DateTime();
                    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    settings.RightToLeft = DefaultBoolean.True;
                    settings.Properties.CalendarProperties.ShowClearButton = false;
                    settings.Properties.CalendarProperties.ShowTodayButton = false;
                    settings.Properties.CalendarProperties.ShowDayHeaders = false;
                    settings.Properties.CalendarProperties.ShowHeader = false;
                    settings.Properties.CalendarProperties.ShowWeekNumbers = false;
                }
            ).GetHtml()
                        </div>
                    </div>
                    <div class="alt">
                        <div class="col-sm-6">
                            <p><b>@Res.resGetir(72)</b></p>
                        </div>
                        <div class="col-sm-6">
                            <input class="text" id="miktar" type="text" value="1" />
                        </div>
                    </div>

                    <div class="alt">
                        <div class="col-sm-6">
                            <p><b>Stok</b></p>
                        </div>
                        <div class="col-md-6">
                            <input id="basic-addon1" value="@Model.UNIT" class="text" disabled />
                        </div>
                    </div>
                    <div class="alt">
                        <div class="col-sm-6">
                            <a href="../Home/index" class="btn btn-default blank-arrow"><i class="fa fa-backward"></i> @Res.resGetir(103)</a>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default cart" onclick="sepeteEkleMiktarli(@Model.ID,$('#miktar').val())" style="margin-left:-30px;">
                                <i class="fa fa-shopping-cart"></i>
                                @Res.resGetir(2)
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            @*<label>@Res.resGetir(72)</label>*@

        </div>
    </div>

</section>


