@model IEnumerable<siparis.Models.OPPORTUNITYDETAIL>
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                    <div class="product-image-wrapper">
                        @foreach (var item in Model)
                        {
                            <tr>
                               <td class="cart_product">
                                    <a href=""><img src="@item.STOKCARD.STOKCARDPICTUREs.ElementAt(0).PATH" style="width:100px;" alt=""></a>
                                </td>
                                <td class="cart_description">
                                    <h4><a href="">@item.STOKCARD.NAME_TR</a></h4>
                                    <p>Web ID: @item.STOKCARD.CODE</p>
                                </td>
                                <td class="cart_price">
                                    <p>@item.STOKCARD.UNIT_PRICE @item.STOKCARD.CUR_TYPE</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button">
                                        <a class="cart_quantity_up" href=""> + </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value="@item.QUANTITY" autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> - </a>
                                    </div>
                                </td>
                                @{float miktar = (float)item.QUANTITY;
                                float fiyat = (float)item.STOKCARD.UNIT_PRICE;
                                float tutar = miktar * fiyat;}
                                <td class="cart_total">
                                    <p class="cart_total_price">@tutar @item.CUR_TYPE</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </div>
                  
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

