@model siparis.Models.LoginViewModel
@using siparis.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstLogin</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />

</head>
<body>
    <section>
        <span></span>


        @using (Html.BeginForm())
        {

            <h1>@siparis.Resorces.Language.Logintoyouraccount</h1>
            @Html.TextBoxFor(model => model.TCode, null, new { placeholder = "Ticari Kod" })
            @Html.TextBoxFor(model => model.UserName, null, new { placeholder = @siparis.Resorces.Language.Name })
            @Html.PasswordFor(model => model.Password)


            <div style="float:left;">  @Html.CheckBoxFor(model => model.RememberMe)</div>
            <div style="float:left;margin-left:5px;margin-top:8px;"> @siparis.Resorces.Language.Keepmesignedin</div>

            <button type="submit" class="btn btn-default">@siparis.Resorces.Language.Login</button>

        }
        
            <ul>
                <li><a class="dil-hover" style="margin-top:8px;margin-right:8px;" href="@Url.Action("changeLanguage", "Base", new { lang ="tr"})"><b>TR</b>   </a></li>
                <li><a class="dil-hover" style="margin-top:8px;" href="@Url.Action("changeLanguage", "Base", new { lang ="en"})"><b>EN</b></a></li>
            </ul>
            @*<a href='#'>@siparis.Resorces.Language.</a>*@
            
        
    </section>
</body>
</html>

