@model siparis.Models.RegisterViewModel
@using siparis.Models
@{
    ViewBag.Title = siparis.Resorces.Language.register;
}


@if (ViewBag.Mesaj != null)
{
    <div>@ViewBag.Mesaj</div>
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h2>@ViewBag.Title.</h2>
        <h4>@siparis.Resorces.Language.Createanewaccount</h4>
        <hr />


        @Html.ValidationSummary()
        
        <div class="form-group">
            <div class="col-md-3 control-label">@Html.LabelFor(m => m.RolName)</div>
            <div class="col-md-9">@Html.DropDownListFor(m => m.RolName, new SelectList((System.Collections.IEnumerable)ViewData["Roles"], "Text", "Text"), new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label">@Html.LabelFor(m => m.UserName)</div>
            <div class="col-md-9">@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label">@Html.LabelFor(m => m.Password)</div>
            <div class="col-md-9">@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <div class="col-md-3 control-label">@Html.LabelFor(m => m.ConfirmPassword)</div>
            <div class="col-md-9">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-6"></div>
        <div class="col-md-2 control-label register-btn"><input type="submit" class="btn btn-group-justified" value=@siparis.Resorces.Language.register /></div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
