@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = @siparis.Resorces.Language.HomePage;
    siparis.Models.SortingPagingInfo info = ViewBag.SortingPagingInfo;

}
@Styles.Render("~/bundels/css")
<div class="col-sm-12">

    <div class="features_items">
        <h2 class="title text-center">@siparis.Resorces.Language.FeaturesItems</h2>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.Hidden("SortField", info.SortField)
            @Html.Hidden("SortDirection", info.SortDirection)
            @Html.Hidden("PageCount", info.PageCount)
            @Html.Hidden("PageSize", info.PageSize)
            @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
           
            <input type="submit" value="txt" hidden="hidden" />
            int i = 0;
            foreach (var stok in Model.stokcardView.Skip(info.PageSize * info.CurrentPageIndex).Take(info.PageSize))
            {
                if (i == 0)
                {
                    @Html.Raw("<div class='row'>");
                }
                i++;
                Html.RenderPartial("UrunGetirPartial", stok);
                if (i == 4)
                {
                    @Html.Raw("</div>");
                                       i = 0;
                }

            }
        }
    </div>
    <div style="float:right">
        <ul class="pagination">
            @{
                int current = info.CurrentPageIndex;
                if (info.CurrentPageIndex > 0)
                {
                    <li><a data-pageindex="info.CurrentPageIndex-1" class="pager">&laquo;</a></li>
                }

                for (var i = 0; i < 4; i++)
                {
                    current++;
                    if (i >= info.PageCount)
                    {
                        <li><a data-pageindex="@(current-1)" class="pager">&raquo;</a></li>
                        i = info.PageCount;
                        break;
                    }
                    if (current - 1 == info.CurrentPageIndex)
                    {
                        <li class="active"><a class="pager">@current</a></li>

                    }
                    else
                    {
                        <li><a data-pageindex="@(current-1)" class="pager">@current</a></li>

                    }

                }
            }

        </ul>
    </div>
</div>