@using siparis.Models
@using System.Web.Mvc;

@{
    
    ViewBag.Title = @siparis.Resorces.Language.Contact;
   
}
@Html.Hidden("RoomID")
@{
    ProfileInfo profilim = (ProfileInfo)Session["profilim"];
}
@Html.TextBox("lat", profilim.Enlem, new { @class= "gizle"})
@Html.TextBox("long", profilim.Boylam, new { @class = "gizle" })

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
<script>
    function initialize() {


        var fillArray = ['red', 'blue', 'yellow', 'green'];

        var mapOptions = {
            zoom: 17,
            center: new google.maps.LatLng($('#lat').val(), $('#long').val())
           
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
          mapOptions);

        var layer = new google.maps.visualization.DynamicMapsEngineLayer({
            layerId: '06673056454046135537-08896501997766553811',
            map: map,
            suppressInfoWindows: true,
            clickable: true
        });

        google.maps.event.addListener(layer, 'mouseover', function (event) {
            var style = layer.getFeatureStyle(event.featureId);
            style.fillColor = fillArray[event.featureId - 1];
            style.fillOpacity = '1.0';
        });

        google.maps.event.addListener(layer, 'mouseout', function (event) {
            var style = layer.getFeatureStyle(event.featureId).resetAll();

           
        });
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(40.192870, 29.048506),
            title: "İşaretçi 1",
            map: map
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>



<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title text-center">@siparis.Resorces.Language.ContactUs</h2>
               
                <div id="map-canvas" class="contact-map">
                    @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3010.5892819511796!2d29.033055!3d41.01236199999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab81c94367b63%3A0xdc4ab7646047c0e0!2zQmHFn2thbiBTaywgQmFyYmFyb3MgTWguLCAzNDcxMCDDnHNrw7xkYXIvxLBzdGFuYnVsLCBUw7xya2l5ZQ!5e0!3m2!1str!2s!4v1427971038269 " width="1140" height="385" frameborder="0" style="border:0"></iframe>*@
                </div>
         
                
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="contact-form">
                    <h2 class="title text-center">@siparis.Resorces.Language.Contact</h2>
                    <div class="status alert alert-success" style="display:none"></div>
                    <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                        <div class="form-group col-md-6">
                            <input type="text" name="name" class="form-control" required="required" placeholder=@siparis.Resorces.Language.Name />
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" name="email" class="form-control" required="required" placeholder=@siparis.Resorces.Language.EMail />
                        </div>
                        <div style="clear:both;"></div>
                        <div class="form-group col-md-12">
                            <input type="text" name="subject" class="form-control" required="required" placeholder=@siparis.Resorces.Language.Subject />
                        </div>
                        <div class="form-group col-md-12">
                            <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder=@siparis.Resorces.Language.YourMessageHere></textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" name="submit" class="btn btn-primary pull-right" value=@siparis.Resorces.Language.Submit />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-info">
                    <h2 class="title text-center">@siparis.Resorces.Language.Contact</h2>
                    <address>
                        
                        <p>@profilim.Adres2</p>
                    </address>

                    <address>
                       
                        <p>@profilim.Adres</p>
                    </address>
                </div>
                <div class="social-networks">
                    <h2 class="title text-center">@siparis.Resorces.Language.SocialNetworking</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/pages/modamcom/180760585455778"target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/modamcom" target="_blank"><i class=" fa fa-twitter"></i></a></li>
                        <li><a href="https://www.pinterest.com/modamcom"target="_blank"><i class="fa fa-pinterest"></i></a></li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
