@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = @siparis.Resorces.Language.HomePage;
    siparis.Models.SortingPagingInfo info = ViewBag.SortingPagingInfo;

}
<div class="col-sm-9">

    <div class="features_items">
        <h2 class="title text-center">@siparis.Resorces.Language.FeaturesItems</h2>

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.Hidden("SortField", info.SortField)
            @Html.Hidden("SortDirection", info.SortDirection)
            @Html.Hidden("PageCount", info.PageCount)
            @Html.Hidden("PageSize", info.PageSize)
            @Html.Hidden("CurrentPageIndex", info.CurrentPageIndex)
            <input type="submit" value="txt" hidden="hidden" />
            int i = 0;
            foreach (var stok in Model.stokcard.Skip(info.PageSize * info.CurrentPageIndex).Take(info.PageSize))
            {
                if (i == 0)
                {
                  @Html.Raw("<div class='row'>");
                }
                i++;
                Html.RenderPartial("UrunGetirPartial", stok);
                if (i == 3)
                {
                    @Html.Raw("</div>");
                    i = 0;
                }

            }
        }        
    </div>
    <div style="float:right">
        <ul class="pagination">
            @for (var i = 0; i < info.PageCount; i++)
            {
                if (i > 3)
                {
                    <li><a data-pageindex="@i" class="pager">&raquo;</a></li>
                    i = info.PageCount;
                    break;
                }
                if (i == info.CurrentPageIndex)
                {
                    <li class="active"><a class="pager">@(i + 1)</a></li>

                }
                else
                {
                    <li><a data-pageindex="@i" class="pager">@(i + 1)</a></li>

                }

            }

        </ul>
    </div>
</div>