@model siparis.Models.IndexDataViewModel          
@using siparis.Models
@{
    ViewBag.Title = "Home Page";
    siparis.Models.SortingPagingInfo info = ViewBag.SortingPagingInfo;    

}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<script>
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit();
        });
    });
</script>

<center>
    <section id="advertisement" style="background: #FE980F; height: 40px;margin-bottom:10px;width:1170px;">
        <div class="container">
            @*<img src="../Content/images/shop/advertisement.jpg" alt="" />*@
        </div>
    </section>
</center>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@Res.resGetir(1)</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                 
                        @{Html.RenderPartial("LeftMenuPartial");}
                    
                    </div><!--/category-products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">

                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("SortField", info.SortField)
                        @Html.Hidden("SortDirection", info.SortDirection)
                        @Html.Hidden("PageCount", info.PageCount)
                        @Html.Hidden("PageSize", info.PageSize)
                        @Html.Hidden("CurrentPageIndex",
   info.CurrentPageIndex)
                        foreach (var stok in Model.stokcard)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @*<img src="../Content/images/shop/product12.jpg" alt="" />*@
                                            <img src="@stok.STOKCARDPICTUREs.ElementAt(0).PATH" alt="" />
                                            <h2>@stok.UNIT_PRICE @stok.CUR_TYPE</h2>
                                            <p>@stok.NAME_TR</p>
                                            <a class="btn btn-default add-to-cart" onclick="sepeteEkle(@stok.ID)"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                            <a href="@Url.Action("ProductDetail", "Product", new { urunID = @stok.ID })" class="btn btn-default add-to-cart"><i class="fa fa-plus-square"></i>Details</a>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                            <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }
                        <input type="submit" value="txt" hidden="hidden" />
                    }

                    <ul class="pagination">
                        @for (var i = 0; i < info.PageCount; i++)
                        {
                            if (i == info.CurrentPageIndex)
                            {
                                <li class="active"><span href="" class="pager">@(i + 1)</span></li>

                            }
                            else
                            {
                                <li><span href="" data-pageindex="@i" class="pager">@(i + 1)</span></li>

                            }
                            if (i > 5)
                            {
                                <li><span href="" data-pageindex="@i" class="pager">&raquo;</span></li>
                            }
                        }

                    </ul>
                </div><!--features_items-->
            </div>

        </div>
    </div>

</section>
