@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = @Res.resGetir(63);
    siparis.Models.SortingPagingInfo info = ViewBag.SortingPagingInfo;

}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>
<script>
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit();
        });
    });
</script>


@{Html.RenderPartial("SliderPartial");}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@Res.resGetir(1)</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @{Html.RenderPartial("LeftMenuPartial");}

                    </div><!--/category-products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">

                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">@Res.resGetir(14)</h2>

                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        @Html.Hidden("SortField", info.SortField)
                        @Html.Hidden("SortDirection", info.SortDirection)
                        @Html.Hidden("PageCount", info.PageCount)
                        @Html.Hidden("PageSize", info.PageSize)
                        @Html.Hidden("CurrentPageIndex",
   info.CurrentPageIndex)
                        foreach (var stok in Model.stokcard)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            @*<img src="../Content/images/shop/product12.jpg" alt="" />*@
                                            <img src="@stok.STOKCARDPICTUREs.ElementAt(0).PATH" alt="" />
                                            <h2 class="buyukharf">@stok.NAME_TR</h2>
                                            <h4>@stok.UNIT_PRICE @stok.CUR_TYPE</h4>

                                            <div class="col-md-12">
                                                <div class="col-md-6 etiket renk">
                                                    <span class="etiket" renk>@Res.resGetir(102)</span>
                                                </div>
                                                <div class="col-md-6 etiket">
                                                    <input class="text" id="miktar" type="text" size="2" value=@stok.UNIT />
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="col-md-6 etiket">
                                                    <span>@Res.resGetir(84)</span>

                                                </div>
                                                <div class="col-md-6 etiket">
                                                    <input class="text" id="miktar" type="text" size="2" value="1" />
                                                </div>
                                            </div>

                                            <a class="btn btn-default add-to-cart" onclick="sepeteEkleMiktarli(@stok.ID,$('#miktar').val())"><i class="fa fa-shopping-cart"></i>@Res.resGetir(2)</a>
                                            <a href="@Url.Action("ProductDetail", "Product", new { urunID = @stok.ID })" class="btn btn-default add-to-cart"><i class="fa fa-plus-square"></i>@Res.resGetir(3)</a>
                                        </div>
                                    </div>
                                    @*<div class="choose">
                                            <ul class="nav nav-pills nav-justified">
                                                <li><a href=""><i class="fa fa-plus-square"></i>@Res.resGetir(15)</a></li>
                                                <li><a href=""><i class="fa fa-plus-square"></i>@Res.resGetir(16)</a></li>
                                            </ul>
                                        </div>*@
                                </div>
                            </div>
                        }
                        <input type="submit" value="txt" hidden="hidden" />
                    }

                    <ul class="pagination">
                        @for (var i = 0; i < info.PageCount; i++)
                        {
                            if (i == info.CurrentPageIndex)
                            {
                                <li class="active"><span href="" class="pager">@(i + 1)</span></li>

                            }
                            else
                            {
                                <li><span href="" data-pageindex="@i" class="pager">@(i + 1)</span></li>

                            }
                            if (i > 5)
                            {
                                <li><span href="" data-pageindex="@i" class="pager">&raquo;</span></li>
                            }
                        }

                    </ul>
                </div><!--features_items-->
            </div>

        </div>
    </div>

</section>
