@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{
    ViewBag.Title = siparis.Resorces.Language_en_EN.Index;
    
}
<script src="~/Scripts/jquery.toastmessage.js"></script>
<script src="~/Scripts/ajaxGonderi/ajaxGonder.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".pager").click(function (evt) {
            var pageindex = $(evt.target).data("pageindex");
            $("#CurrentPageIndex").val(pageindex);
            // evt.preventDefault();
            $("form").submit();
        });
    });
</script>

@{Html.RenderPartial("SliderPartial");}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>@siparis.Resorces.Language.Filter</h2>
                    <div id="menu-wrapper">
                        <ul class="navi">
                            <li>
                                <a href="#">@siparis.Resorces.Language.Products</a>
                                <div>
                                    <div class="navi-column">
                                        <h3>Home</h3>
                                        <ul>
                                            <li><a href="#">Pampers Diapers</a></li>
                                            <li><a href="#">Huggies Diapers</a></li>
                                            <li><a href="#">Seventh Generation</a></li>
                                            <li><a href="#">Diapers</a></li>
                                            <li><a href="#">Derbies</a></li>
                                            <li><a href="#">Driving shoes</a></li>
                                            <li><a href="#">Espadrilles</a></li>
                                            <li><a href="#">Loafers</a></li>
                                        </ul>
                                    </div>

                                    <div class="navi-column">
                                        <h3>Home</h3>
                                        <ul>
                                            <li><a href="#">Driving shoes</a></li>
                                            <li><a href="#">Espadrilles</a></li>
                                            <li><a href="#">Loafers</a></li>
                                        </ul>

                                        <h3>Home</h3>
                                        <ul>
                                            <li><a href="#">Driving shoes</a></li>
                                            <li><a href="#">Espadrilles</a></li>
                                            <li><a href="#">Loafers</a></li>
                                        </ul>
                                    </div>

                                    <div class="navi-column">
                                        <h3>Home</h3>
                                        <ul>
                                            <li><a href="#">Pampers Diapers</a></li>
                                            <li><a href="#">Huggies Diapers</a></li>
                                            <li><a href="#">Seventh Generation</a></li>
                                            <li><a href="#">Diapers</a></li>
                                            <li><a href="#">Derbies</a></li>
                                            <li><a href="#">Driving shoes</a></li>
                                            <li><a href="#">Espadrilles</a></li>
                                            <li><a href="#">Loafers</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            @*<li><a href="#">@siparis.Resorces.Language.Contact</a></li>*@
                            <li class="navi-search">
                                <form action="#">
                                    <input type="text" placeholder=@siparis.Resorces.Language.Search class="searchText">
                                    <input type="submit" value="">
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                    

                    </div><!--/category-products-->

                </div>
            </div>

            @{int i = 0;
            foreach (var stok in Model.stokcardView)
            {
                if (i == 0)
                {
                    @Html.Raw("<div class='row'>");
                }
                i++;
                Html.RenderPartial("UrunGetirPartial", stok);
                if (i == 3)
                {
                    @Html.Raw("</div>");
                                       i = 0;
                }

            }
            }

            @*@{Html.RenderPartial("ContentPartial");}*@

        </div>
    </div>

</section>
