@model siparis.Models.IndexDataViewModel
@using siparis.Models
@{

}
@*<link href="~/Content/css/filterAccordion.css" rel="stylesheet" />*@
@*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>*@
<script type="text/javascript">
    function secim(s, e, f) {
        var value = s.GetChecked();
        if (value) {
            f.SelectAll();
        }
        else {
            f.UnselectAll();
        }
    }
</script>
<script>

    $(function () {

        $("a").click(function () {
            var ul = $(this).next(),
                    clone = ul.clone().css({ "height": "auto" }).appendTo("body"),
                    height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";

            clone.remove();
            ul.animate({ "height": height });
            return false;
        });

    });
</script>
@using (Html.BeginForm("CategorizedProducts", "Home"))
{
    <div id="filter">
        <ul>


            <li>
                <div class="brands_products">
                    <!--Main Group-->
                    <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.MainGroup</h2></a>
                    <ul>
                        <li>
                            @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,MAIN_GRUOP); }";
        }).GetHtml())

                            @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "MAIN_GRUOP";
            settings.Properties.ValueField = "ID";
            settings.Properties.TextField = "EXP_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            //  settings.Properties.ClientSideEvents.Init = "function(s, e) { alert(s.cpCustom); }";
            ////  settings.CustomJSProperties += (s, e) => { e.Properties["cpCustom"] = "customValue"; };
            settings.Init = (sender, e) =>
                {
                };
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                //cbl.ClientSideEvents.SelectedIndexChanged = "function(s, e) { secim(s,e); }";
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Count(x => x.MAIN_GRUP == (int)item.Value);
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };

        }).BindList(Model.stokMainGroup).GetHtml()
                            )
                        </li>
                    </ul>

                </div><!--/Main Group-->
            </li>
            <div>
                <!--filtre buton-->
                @Html.DevExpress().Button(settings =>
        {
            settings.Name = "Filter";
            settings.Text = @siparis.Resorces.Language.Filter;
            settings.UseSubmitBehavior = true;
        }).GetHtml()
                @Html.DevExpress().Button(settings =>
        {
            settings.Name = "UnFilter";
            settings.Text = @siparis.Resorces.Language.UnFilter;
            settings.UseSubmitBehavior = true;
        }).GetHtml()

            </div><!--/filtre buton-->
            @if (HttpContext.Current.Request.Path.Contains("CategorizedProducts"))
            {
            <!--sub group 1-->
                <li>
                    <div class="brands_products">

                        <a href="#"> <h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.SubGroup1</h2> </a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "allsub";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SUB_GROUP); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "SUB_GROUP";
            settings.Properties.ValueField = "ID";
            settings.Properties.TextField = "EXP_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.CheckBoxStyle.Wrap = DefaultBoolean.True;
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.SUB_GRUP1 == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };


        }).BindList(Model.stokSubGroup).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/sub group 1-->

                <li>
                    <div class="brands_products">
                        <!--sub group 2-->
                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.SubGroup2</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all2";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SUB_GROUP2); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "SUB_GROUP2";
            settings.Properties.ValueField = "ID";
            settings.Properties.TextField = "EXP_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.SUB_GRUP2 == (int)item.Value).Count();

                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };

        }).BindList(Model.stokSubGroup2).GetHtml()
                                )
                            </li>
                        </ul>
                    </div><!--/sub group 2-->
                </li>

            <!--CATEGORY-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Category</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all3";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,CATEGORY); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "CATEGORY";
            settings.Properties.ValueField = "STOK_GROUP_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.CATEGORY_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };

        }).BindList(Model.stokCategory).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>

                </li>
            <!--/CATEGORY-->

            <!--BRANDS_PRODUCTS-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Brands</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all4";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,BRAND); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "BRAND";
            settings.Properties.ValueField = "BRAND_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.BRAND_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };

        }).BindList(Model.stokbrand).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/BRANDS_PRODUCTS-->

            <!--MODEL-->
                <li>

                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Model</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all5";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,MODEL); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "MODEL";
            settings.Properties.ValueField = "MODEL_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.MODEL_CODE == (int)item.Value).Count();

                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokModel).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>

                </li>
            <!--/MODEL-->

             <!--SIZE-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Size</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all6";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SIZE); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "SIZE";
            settings.Properties.ValueField = "BODY_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.BODY_CODE == (int)item.Value).Count();

                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokBody).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>

                </li>
            <!--/SIZE-->

            <!--COLOR-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Color</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all7";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,COLOR); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "COLOR";
            settings.Properties.ValueField = "COLOR_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.COLOR_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokcolor).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/COLOR-->

            <!--SEASON-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Season</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all8";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SEASON); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "SEASON";
            settings.Properties.ValueField = "SEASON_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.SEASON_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokseason).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/SEASON-->

            <!--PACKET-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Pocket</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all9";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,PACKET); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "PACKET";
            settings.Properties.ValueField = "PACKET_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.PACK_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokPacket).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/PACKET-->

            <!--RAYON-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Rayon</h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all10";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,RAYON); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "RAYON";
            settings.Properties.ValueField = "RAYON_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.RAYON_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokRayon).GetHtml()
                                )

                            </li>
                        </ul>
                    </div>
                </li>
            <!--/RAYON-->

            <!--SECTOR-->
                <li>
                    <div class="brands_products">

                        <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Sector </h2></a>
                        <ul>
                            <li>
                                @(Html.DevExpress().CheckBox(s =>
        {
            s.Name = "all11";
            s.Text = "All";
            s.Checked = true;
            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SECTOR); }";
        }).GetHtml())
                                @(Html.DevExpress().CheckBoxList(settings =>
        {
            settings.Name = "SECTOR";
            settings.Properties.ValueField = "SECTOR_CODE";
            settings.Properties.TextField = "NAME_TR";
            settings.Properties.ValueType = typeof(int);
            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
            settings.Properties.RepeatColumns = 1;
            settings.ControlStyle.Border.BorderWidth = 0;
            settings.PreRender = (sender, e) =>
            {
                ASPxCheckBoxList cbl = (ASPxCheckBoxList)sender;
                foreach (ListEditItem item in cbl.Items)
                {
                    int count = @Model.stokcard.Where(x => x.RAYON_CODE == (int)item.Value).Count();
                    item.Text += " (" + count + ")";
                    if (count > 0)
                    {
                        item.Selected = true;
                    }
                }
            };
        }).BindList(Model.stokSector).GetHtml()
                                )
                            </li>
                        </ul>
                    </div>
                </li>
            <!--/SECTOR-->


                <div>
                    <!-- filter button-->
                    @Html.DevExpress().Button(settings =>
        {
            settings.Name = "Filter_";
            settings.Text = @siparis.Resorces.Language.Filter;
            settings.UseSubmitBehavior = true;
        }).GetHtml()


                </div><!--/filter button-->
            }
        </ul>
    </div>
}
