@model siparis.Models.IndexDataViewModel
@using siparis.Models
<script type="text/javascript">
    function secim(s, e, f) {
        var value = s.GetChecked();
        if (value) {
            f.SelectAll();
        }
        else {
            f.UnselectAll();
        }
        updateProductList(s, e);
    }
</script>
<script>
    $(function () {
        $("#filter a").click(function () {
            var ul = $(this).next(),
                    clone = ul.clone().css({ "height": "auto" }).appendTo("body"),
                    height = ul.css("height") === "0px" ? ul[0].scrollHeight + "px" : "0px";

            clone.remove();
            ul.animate({ "height": height });
            return false;
        });
    });
</script>
<!--Main ve sub gruplar-->
<div>
    <input type="text" id="stokMainGroup" value="@Model.stokMainGroup.ElementAt(0).ID" />
    <input type="text" id="stokSubGroup" value="@Model.stokSubGroup.ElementAt(0).ID" />
    <input type="text" id="stokSubGroup2" value="@Model.stokSubGroup2.ElementAt(0).ID" />
</div>
<!--/Main ve sub gruplar-->

<div id="filter">
    <ul>
        <!--CATEGORY-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Category</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                            {
                                s.Name = "all3";
                                s.Text = "All";
                                s.Checked = true;
                                s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,CATEGORY); }";
                            }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "CATEGORY";
                                settings.Properties.ValueField = "STOK_GROUP_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";

                            }).BindList(Model.stokCategory).GetHtml()
                        )
                    </li>
                </ul>
            </div>

        </li>
        <!--/CATEGORY-->
        <!--BRANDS_PRODUCTS-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Brands</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                    {
                        s.Name = "all4";
                        s.Text = "All";
                        //  s.Checked = true;
                        s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,BRAND); }";
                    }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                    {
                        settings.Name = "BRAND";
                        settings.Properties.ValueField = "BRAND_CODE";
                        settings.Properties.TextField = "NAME_TR";
                        settings.Properties.ValueType = typeof(int);
                        settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                        settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                        settings.Properties.RepeatColumns = 1;
                        settings.ControlStyle.Border.BorderWidth = 0;
                        settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                    }).BindList(Model.stokbrand).GetHtml()
                        )
                    </li>
                </ul>
            </div>
        </li>
        <!--/BRANDS_PRODUCTS-->
        <!--MODEL-->
        <li>

            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Model</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                            {
                                s.Name = "all5";
                                s.Text = "All";
                                //   s.Checked = true;
                                s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,MODEL); }";
                            }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "MODEL";
                                settings.Properties.ValueField = "MODEL_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokModel).GetHtml()
                        )
                    </li>
                </ul>
            </div>

            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Size</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                        {
                            s.Name = "all6";
                            s.Text = "All";
                            //     s.Checked = true;
                            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SIZE); }";
                        }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "SIZE";
                                settings.Properties.ValueField = "BODY_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokBody).GetHtml()
                        )
                    </li>
                </ul>
            </div>

        </li>
        <!--/SIZE-->
        <!--COLOR-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Color</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                            {
                                s.Name = "all7";
                                s.Text = "All";
                                //     s.Checked = true;
                                s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,COLOR); }";
                            }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "COLOR";
                                settings.Properties.ValueField = "COLOR_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokcolor).GetHtml()
                        )
                    </li>
                </ul>
            </div>
        </li>
        <!--/COLOR-->
        <!--SEASON-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Season</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                        {
                            s.Name = "all8";
                            s.Text = "All";
                            ///        s.Checked = true;
                            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SEASON); }";
                        }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                        {
                            settings.Name = "SEASON";
                            settings.Properties.ValueField = "SEASON_CODE";
                            settings.Properties.TextField = "NAME_TR";
                            settings.Properties.ValueType = typeof(int);
                            settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                            settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                            settings.Properties.RepeatColumns = 1;
                            settings.ControlStyle.Border.BorderWidth = 0;
                            settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                        }).BindList(Model.stokseason).GetHtml()
                        )
                    </li>
                </ul>
            </div>
        </li>
        <!--/SEASON-->
        <!--PACKET-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Pocket</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                        {
                            s.Name = "all9";
                            s.Text = "All";
                            //       s.Checked = true;
                            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,PACKET); }";
                        }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "PACKET";
                                settings.Properties.ValueField = "PACKET_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokPacket).GetHtml()
                        )
                    </li>
                </ul>
            </div>
        </li>
        <!--/PACKET-->
        <!--RAYON-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Rayon</h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                        {
                            s.Name = "all10";
                            s.Text = "All";
                            //       s.Checked = true;
                            s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,RAYON); }";
                        }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "RAYON";
                                settings.Properties.ValueField = "RAYON_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokRayon).GetHtml()
                        )

                    </li>
                </ul>
            </div>
        </li>
        <!--/RAYON-->
        <!--SECTOR-->
        <li>
            <div class="brands_products">

                <a href="#"><h2 style="margin-top:20px;"><i class="fa fa-caret-down"></i> @siparis.Resorces.Language.Sector </h2></a>
                <ul>
                    <li>
                        @(Html.DevExpress().CheckBox(s =>
                            {
                                s.Name = "all11";
                                s.Text = "All";
                                //       s.Checked = true;
                                s.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { secim(s,e,SECTOR); }";
                            }).GetHtml())
                        @(Html.DevExpress().CheckBoxList(settings =>
                            {
                                settings.Name = "SECTOR";
                                settings.Properties.ValueField = "SECTOR_CODE";
                                settings.Properties.TextField = "NAME_TR";
                                settings.Properties.ValueType = typeof(int);
                                settings.Properties.RepeatLayout = System.Web.UI.WebControls.RepeatLayout.Table;
                                settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
                                settings.Properties.RepeatColumns = 1;
                                settings.ControlStyle.Border.BorderWidth = 0;
                                settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s,e) {updateProductList(s,e);}";
                            }).BindList(Model.stokSector).GetHtml()
                        )
                    </li>
                </ul>
            </div>
        </li>
        <!--/SECTOR-->
    </ul>
</div>
