@model IEnumerable<siparis.Models.OrderMasterViewModel>
@using siparis.Models
@{
    ViewBag.Title = @siparis.Resorces.Language.Order;
    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<h2>@siparis.Resorces.Language.Order</h2>

<script>
    function OnGetRowValues(value) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("orderPartial", "OrderFollow")',
            data: { 'clickedButton': value },
            success: function (data) {
                $('#detailPaneled').html(data)
            }
        });
    }
</script>

<script>
    function OnClick(s, e) {
        var targetUrl = s.submitUrl + " " + ChooseWareHouse.GetValue();
        s.submitUrl = targetUrl;
    }
</script>

@*@Html.DevExpress().Panel(settings =>
    {
        settings.Name = "detailPanel";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Styles.Panel.CssClass = "detailPanel";
        settings.Collapsible = true;
        settings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.PopupToTop;
        settings.SettingsCollapsing.AnimationType = AnimationType.Slide;
        settings.SettingsAdaptivity.CollapseAtWindowInnerHeight = 680;
        settings.SettingsAdaptivity.HideAtWindowInnerHeight = 100;
        settings.Styles.ExpandBar.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Styles.ExpandBar.CssClass = "bar";
        settings.Styles.Panel.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
        settings.SetContent(() =>
        {
            ViewContext.Writer.Write("<div class='title'>Orders</div>");
        });

    }).GetHtml()*@
@Html.Partial("_OrderMasterGrid", Model)

@if (User.IsInRole("Admin"))
{
    @Html.DevExpress().Panel(settings =>
{
    settings.Name = "detailPaneled";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Styles.Panel.CssClass = "detailPanel";
    settings.Collapsible = true;
    settings.SettingsCollapsing.ExpandEffect = PanelExpandEffect.PopupToTop;
    settings.SettingsCollapsing.AnimationType = AnimationType.Slide;
    settings.SettingsAdaptivity.CollapseAtWindowInnerHeight = 680;
    settings.SettingsAdaptivity.HideAtWindowInnerHeight = 380;
    settings.Styles.ExpandBar.Width = System.Web.UI.WebControls.Unit.Percentage(100);
    settings.Styles.ExpandBar.CssClass = "bar";
    settings.Styles.Panel.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
    settings.SetContent(() =>
    {
        Html.RenderAction("orderPartial");
    });
}).GetHtml()
}
